@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-normal text-base text-body bg-whiten relative z-1;
	}
	input {
		@apply px-4 py-2 text-base border border-gray-300 rounded-md outline-none focus:outline-none;
	}
	button {
		@apply outline-none focus:outline-none;
	}
}
@layer components {
}
@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

.link:hover {
	cursor: pointer;
}

.bgi-position-center {
	background-position: center;
}

.bgi-no-repeat {
	background-repeat: no-repeat;
}

.bgi-size-cover {
	background-size: cover;
}

.sso-login-btns {
	padding: 10px 18px;
	transition: all 0.3s ease;
	border: 0;
	outline: none;
	color: #fff;
	border-radius: 10px;
}

@media screen and (max-width: 580px) {
	.sso-login-btns {
		width: 330px;
	}
}
